<p-growl [(value)]="msgs"></p-growl>
<p-dialog header="Edytuj dane dziecka" [(visible)]="isVisible" modal="modal"
		  [draggable]="false" [resizable]="false" [width]="700" [closable]="false">
	<div class="row">
		<div class="col-md-12">
			<form novalidate
				  #editForm="ngForm">

				<div class="ui-g-12 form-blue">

					<div class="ui-g-12">
						<div class="ui-g-4 form-4-str">Stopień niepełnosprawności</div>
						<div class="ui-inputgroup ng-invalid ui-g-8 drp-srt">
							<p-dropdown
									[options]="disabilityLevels" [autoWidth]="false"
									required
									[(ngModel)]="child.disabilityLevel" name="disabilityLevel"
									#disabilityLevel></p-dropdown>
						</div>
					</div>

					<div class="ui-g-12">
						<div class="ui-g-4 form-4-str">Choroby</div>
						<div class="ui-inputgroup ng-invalid ui-g-8 ">
							<input type="text" pInputText
								   placeholder="-" class="detail-view-input"
								   maxlength="300"
								   pattern="[a-zA-ZęóąśłżźćńĘÓĄŚŁŻŹĆŃ\-\ \,\:]*"
								   [(ngModel)]="child.diseases"
								   name="diseases" #diseases = "ngModel" >
							<div class="ui-g-12 validation-err" *ngIf="diseases.errors?.pattern">
								Pole nie może zawierać znaków specjalnych.
							</div>
						</div>
					</div>

					<div class="ui-g-12">
						<div class="ui-g-4 form-4-str">Alergie</div>
						<div class="ui-inputgroup ng-invalid ui-g-8 ">
							<input type="text" pInputText
								   placeholder="-" class="detail-view-input"
								   maxlength="300"
								   pattern="[a-zA-ZęóąśłżźćńĘÓĄŚŁŻŹĆŃ\-\ \,\:]*"
								   [(ngModel)]="child.allergies"
								   name="allergies" #allergies = "ngModel" >
							<div class="ui-g-12 validation-err" *ngIf="allergies.errors?.pattern">
								Pole nie może zawierać znaków specjalnych.
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton icon="fa-check"[disabled]="editForm.invalid"
				(click)="saveData(child)" label="Zapisz"></button>
		<button type="button" pButton icon="fa-close" (click)="closeModal()" label="Anuluj"></button>
	</p-footer>
</p-dialog>
