<section class="container-fluid">
	<div class="row">

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<div class="navbar-collapsed-box navbar-right" style="height: 100%">
					<li ngbDropdown class="dropdown">
						<a class="dropdown-toggle brand-text" data-toggle="dropdown" id="dropdownMobile"
						   ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false"><i
								class="fa fa-2x fa-ellipsis-h navbar-dropdown" aria-hidden="true"></i></a>
						<ul ngbDropdownMenu class="dropdown-menu navbar-collapse-box" aria-labelledby="dropdownMobile">
							<button (click)="logout()"  class="dropdown-item navbar-collapse-button">
								<i class="fa fa-sign-out" aria-hidden="true"></i>Wyloguj
							</button>
						</ul>
					</li>
				</div>
				<a class="navbar-brand brand-text">I.K.M.S</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right" style="height: 100%">
          <li>
            <a class="brand-text" [routerLink]="['notification']">
              <i class="fa fa-bell fa-2x fa-sidebar">
                <span class="badge badge-danger" *ngIf="notificationService.getAmountOfUnreadMessage() > 0">
                  {{notificationService.getAmountOfUnreadMessage()}}
                </span>
              </i>
            </a>
          </li>
          <li>
            <a class="brand-text" [routerLink]="['messagebox']">
              <i class="fa fa-envelope fa-2x fa-sidebar">
                <span class="badge badge-danger" *ngIf="messageService.getAmountOfUnreadMessage() > 0">{{messageService.getAmountOfUnreadMessage()}}</span>
              </i>
            </a>
          </li>
					<li ngbDropdown class="dropdown">
						<a class="dropdown-toggle brand-text" data-toggle="dropdown" id="dropdown"
						   ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false"><i
								class="fa fa-2x fa-ellipsis-h navbar-dropdown" aria-hidden="true"></i></a>
						<ul ngbDropdownMenu class="dropdown-menu navbar-collapse-box" aria-labelledby="dropdown">
							<button (click)="logout()" class="dropdown-item navbar-collapse-button">
								<i class="fa fa-sign-out" style="padding: 4px;" aria-hidden="true"></i>Wyloguj
							</button>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div>
			<employee-sidebar></employee-sidebar>
		</div>
	</div>
	<router-outlet>

	</router-outlet>
</section>
