<p-schedule
		[events]="events"
		[editable]="editMode"
		[defaultView]="configuration.defaultView"
		[header]="configuration.headerConfig"
		[allDaySlot]="configuration.allDaySlot"
		[weekends]="configuration.weekends"
		[minTime]="configuration.minTime"
		[maxTime]="configuration.maxTime"
		[height]="configuration.height"
		[options]="configuration.options"
		[defaultDate]="configuration.defaultDate"
		[timeFormat]="configuration.timeFormat"
		[editable]="true"
		(onEventClick)="handleEventClick($event)">
</p-schedule>

<activity-details *ngIf="selectedEvent"
				  [event]="selectedEvent"
				 [isVisible]="displayActivityDetailModal"
				 (eventClose)="handleDetailModalClose()"></activity-details>

<activity-edit *ngIf="selectedEvent && displayActivityEditModal"
				  [activity]="selectedEvent"
				  [isVisible]="displayActivityEditModal"
				  (eventSave)="handleEditModalClose($event)"
				  (eventClose)="handleDetailModalClose()"></activity-edit>

<!-- Do not use getters here because of infinite recursion -->