<p-confirmDialog  width="425"></p-confirmDialog>
<button type="button" pButton (click)="changeView(schedule,'agendaDay')" label="Dzień" class="ikms-float-right"></button>
<button type="button" pButton (click)="changeView(schedule,'agendaWeek')" label="Tydzień" class="ikms-float-right"></button>
<button type="button" pButton (click)="changeView(schedule,'month')" label="Miesiąc" class="ikms-float-right"></button>
<button type="button" pButton (click)="today(schedule)" label="Dziś" class="ikms-float-right"></button>
<button type="button" pButton (click)="right(schedule)" icon="fa-chevron-right" class="ikms-float-right"></button>
<button type="button" pButton (click)="left(schedule)" icon="fa-chevron-left" class="ikms-float-right"></button>

	<p-schedule
		[events]="events"
		[editable]="editMode"
		[defaultView]="configuration.defaultView"
		[header]="configuration.headerConfig"
		[allDaySlot]="configuration.allDaySlot"
		[weekends]="configuration.weekends"
		[minTime]="configuration.minTime"
		[maxTime]="configuration.maxTime"
		[height]="configuration.height"
		[options]="configuration.options"
		[defaultDate]="configuration.defaultDate"
		[timeFormat]="configuration.timeFormat"
		(onEventDrop)="onEventDrop($event)"
		(onEventClick)="handleEventClick($event)"
		(onEventResize)="onEventResizeStop($event)"
		#schedule>
</p-schedule>

<activity-details *ngIf="selectedEvent"
				  [event]="selectedEvent"
				 [isVisible]="displayActivityDetailModal"
				 (eventClose)="handleDetailModalClose()"></activity-details>

<activity-edit *ngIf="selectedEvent && displayActivityEditModal"
				  [activity]="selectedEvent"
				  [isVisible]="displayActivityEditModal"
				  (eventSave)="handleEditModalClose($event)"
				  (eventClose)="handleDetailModalClose()"></activity-edit>

<!-- Do not use getters here because of infinite recursion -->