target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### Frontend  ###
./IKMS-client/ngapp/node/*
./IKMS-client/ngapp/node_modules/*
./IKMS-server/src/main/webapp/*
./IKMS-client/ngapp/node
./IKMS-client/ngapp/node_modules
