<div class="container-fluid background">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form novalidate
            #loginForm="ngForm"
            (ngSubmit)="login(credentials)">

        <div class="ui-g-12 ui-fluid" style="padding-top: 15%">

          <div class="col-md-8 col-md-offset-2 hidden-xs hidden-sm">
            <img src="assets/img/IKMS.png" width="100%">
          </div>

          <div class="ui-g-12">
            <div class="ui-inputgroup ng-invalid">
              <input type="text" pInputText
                     placeholder="Login"
                     required minlength="5"
                     maxlength="30"
                     #usernameInput="ngModel"
                     [(ngModel)]="credentials.username"
                     name="username">
            </div>
          </div>
          <div class="ui-g-12 validation-err" *ngIf="usernameInput.touched && usernameInput.errors?.minlength">
            Co najmniej 5 znaków.
          </div>

          <div class="ui-g-12">
            <div class="ui-inputgroup ng-invalid">
              <input type="password" pPassword
                     placeholder="Hasło" minlength="5"
                     [feedback]="false"
                     maxlength="100"
                     required
                     #passwordInput="ngModel"
                     [(ngModel)]="credentials.password"
                     name="password">
            </div>
          </div>
          <div class="ui-g-12 validation-err" *ngIf="passwordInput.touched && passwordInput.errors?.minlength">
            Co najmniej 5 znaków.
          </div>

          <div class="ui-g-12" >
            <p-checkbox name="rememberMe" binary="true" label="Zapamiętaj mnie" [(ngModel)]="credentials.rememberMe" inputId="re"></p-checkbox>
          </div>

          <div class="ui-g-12" >
            <p-messages [(value)]="messages" [closable]="false"></p-messages>
          </div>
          <div class="ui-g-4">
            <button pButton type="submit" label="Zaloguj" [disabled]="loginForm.invalid || isLoading">
			</button>
          </div>
			<div class="text-center ui-g-4">
				<i *ngIf="isLoading || isNavigating" class="fa fa-spinner fa-pulse fa fa-fw"></i>
			</div>
        </div>
      </form>

    </div>
  </div>
</div>

