<p-confirmDialog  width="425"></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>
<div class="ikms-body">
	<p-breadcrumb [model]="items"></p-breadcrumb>
	<hr class="small-hr"/>
	<div class="row">
		<div class="col-md-12">
			<div class="ui-g-12" *ngIf="!isLoading">
				<button type="button" pButton  [routerLink]="['/admin/group/new']" icon="fa-plus" label="Dodaj Grupę"></button>
			</div>
		</div>
	</div>
	<br/>
    <div class="row">
        <div class="col-md-12">
			<div class="content-section implementation text-center" *ngIf="isLoading">
				<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
			</div>
            <div class="content-section implementation" *ngIf="!isLoading">
                <p-dataTable [value]="groups" [rows]="20"
                             [responsive]="true" >
                    <p-header>
						<div class="bold">
							Grupy
						</div>
					</p-header>
                    <p-column [sortable]="true" field="id" header="Id" [style]="{'width':'50px'}"></p-column>
                    <p-column [sortable]="true" field="name" header="Nazwa"></p-column>
                    <p-column [sortable]="true" field="active" header="Aktywna">
						<ng-template let-col let-active="rowData" let-ri="rowIndex" pTemplate="body">
							<span>{{active[col.field] | translateEnum}}</span>
						</ng-template>
					</p-column>
                    <p-column [sortable]="true" field="groupSize" header="Liczebnosć"></p-column>
					<p-column [sortable]="true" field="employee.value" header="Opiekun"></p-column>
                    <p-column styleClass="col-button" [style]="{'width':'80px', 'text-align':'center'}">
                        <ng-template pTemplate="header" >
                        </ng-template>
                        <ng-template let-group="rowData" pTemplate="body">
							<button type="button" pButton
									title="Podgląd"
                                    (click)="navigateToGroupDetails(group.id)"
                                    icon="fa-search"></button>
                            <button type="button" pButton title="Usuń"
									(click)="delete(group.id)" icon="fa-trash" ></button>
                        </ng-template>
                    </p-column>
                    <ng-template pTemplate="emptymessage">
                        Brak wyników do wyświetlenia.
                    </ng-template>
                </p-dataTable>
              <p-paginator rows="20" [totalRecords]="currentPageData?.totalElements"
                           (onPageChange)="loadNewPage($event)" [pageLinkSize]="currentPageData?.totalPages">
              </p-paginator>

            </div>
        </div>
    </div>

</div>
