<p-growl [(value)]="msgs"></p-growl>
<div class="ikms-body">
  <p-breadcrumb [model]="items"></p-breadcrumb>
  <hr class="small-hr"/>
  <div class="row">
    <div class="col-md-12">
      <p-tabView *ngIf="isLoading" class="text-center">
        <p-tabPanel>
          <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
        </p-tabPanel>
      </p-tabView>
      <p-tabView *ngIf="!isLoading">
        <p-tabPanel header="Dane rodzica">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix" >
                <button pButton label="Edytuj" icon="fa-pencil" (click)="showParentEditModal()" class="ikms-float-right"></button>
              </div>
            </p-header>
            <div class="ui-g bold">
              <div class="ui-g-6">
                <div class="ui-g-12">
                  <div class="ui-g-4 ">Id Rodzica:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="parent?.id"
                           name="id" readonly>
                  </div>
                </div>
              </div>
            </div>
          </p-panel>
        </p-tabPanel>
        <p-tabPanel header="Dane osobowe">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix" >
                <button pButton label="Edytuj" (click)="showPersonalDataEditModal()" icon="fa-pencil" class="ikms-float-right"></button>
              </div>
            </p-header>
            <div class="ui-g bold">
              <div class="ui-g-6 ui-sm-12">
                <div class="ui-g-12">
                  <div class="ui-g-4 ">Imię:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.name"
                           name="name" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Drugie imię:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.secondaryName"
                           name="secondaryName" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Data urodzenia:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.dateOfBirth"
                           name="dateOfBirth" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Płeć:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.gender | translateEnum"
                           name="gender" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Numer Kontaktowy:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.contactNumber"
                           name="contactNumber" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Imię ojca:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.fathersName"
                           name="fathersName" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Nazwisko rodowe:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.familyName"
                           name="familyName" readonly>
                  </div>
                </div>
              </div>
              <div class="ui-g-6 ui-sm-12">
                <div class="ui-g-12">
                  <div class="ui-g-4 ">Nazwisko:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.surname"
                           name="surname" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">PESEL:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.pesel"
                           name="pesel" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Miejsce urodzenia:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.placeOfBirth"
                           name="placeOfBirth" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Narodowość:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.nationality"
                           name="nationality" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Fax:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.faxNumber"
                           name="faxNumber" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Imię matki:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.mothersName"
                           name="mothersName" readonly>
                  </div>
                </div>

                <div class="ui-g-12">
                  <div class="ui-g-4 ">Nazwisko rodowe matki:</div>
                  <div class="ui-g-8 ">
                    <input type="text" pInputText
                           placeholder="-" class="detail-view-input"
                           [value]="personalData?.mothersMaidenName"
                           name="mothersMaidenName" readonly>
                  </div>
                </div>
              </div>
            </div>
          </p-panel>
        </p-tabPanel>
        <p-tabPanel *ngIf="addresses?.length == 0" header="Adres" rightIcon="fa fa-plus">
          <p-panel>
            <p-header>
              <div class="ui-helper-clearfix" >
                <button pButton label="Dodaj" (click)="showAddressCreateModal()" icon="fa-plus" class="ikms-float-right"></button>
              </div>
            </p-header>
            <div class="ui-g bold">
              <div class="ui-g-12">
                Użytkownik nie posiada przypisanych adresów
              </div>
            </div>
          </p-panel>
        </p-tabPanel>
        <ng-template let-address ngFor [ngForOf]="addresses">
          <p-tabPanel header="{{address.addressType | translateEnum}}">
            <p-panel>
              <p-header>
                <div class="ui-helper-clearfix" >
                  <button pButton label="Edytuj" (click)="showAddressEditModal(address.id)" icon="fa-pencil" class="ikms-float-right"></button>

                  <button pButton label="Dodaj" (click)="showAddressCreateModal()" icon="fa-plus" class="ikms-float-right"></button>
                </div>
              </p-header>
              <div class="ui-g bold">
                <div class="ui-g-6">
                  <div class="ui-g-12">

                    <div class="ui-g-4 ">Ulica:</div>
                    <div class="ui-g-8 ">
                      <input type="text" pInputText
                             placeholder="-" class="detail-view-input"
                             [value]="address?.street"
                             name="street" readonly></div>
                  </div>

                  <div class="ui-g-12">

                    <div class="ui-g-4 ">Numer domu:</div>
                    <div class="ui-g-8 ">
                      <input type="text" pInputText
                             placeholder="-" class="detail-view-input"
                             [value]="address?.streetNumber"
                             name="streetNumber" readonly>
                    </div>
                  </div>

                  <div class="ui-g-12">

                    <div class="ui-g-4 ">Kod pocztowy:</div>
                    <div class="ui-g-8 ">
                      <input type="text" pInputText
                             placeholder="-" class="detail-view-input"
                             [value]="address?.postCode"
                             name="postCode" readonly>
                    </div>
                  </div>

                  <div class="ui-g-12">

                    <div class="ui-g-4 ">Powiat:</div>
                    <div class="ui-g-8 ">
                      <input type="text" pInputText
                             placeholder="-" class="detail-view-input"
                             [value]="address?.county"
                             name="county" readonly>
                    </div>
                  </div>

                  <div class="ui-g-12">

                    <div class="ui-g-4 ">Państwo:</div>
                    <div class="ui-g-8 ">
                      <input type="text" pInputText
                             placeholder="-" class="detail-view-input"
                             [value]="address?.country"
                             name="country" readonly>
                    </div>
                  </div>

                </div>
                <div class="ui-g-6">
                  <div class="ui-g-12 ">

                    <div class="ui-g-4 ">Miejscowość:</div>
                    <div class="ui-g-8 ">
                      <input type="text" pInputText
                             placeholder="-" class="detail-view-input"
                             [value]="address?.city"
                             name="city" readonly>
                    </div>
                  </div>

                  <div class="ui-g-12">

                    <div class="ui-g-4 ">Numer lokalu:</div>
                    <div class="ui-g-8 ">
                      <input type="text" pInputText
                             placeholder="-" class="detail-view-input"
                             [value]="address?.houseNumber"
                             name="houseNumber" readonly>
                    </div>
                  </div>

                  <div class="ui-g-12">

                    <div class="ui-g-4 ">Gmina:</div>
                    <div class="ui-g-8 ">
                      <input type="text" pInputText
                             placeholder="-" class="detail-view-input"
                             [value]="address?.community"
                             name="community" readonly>
                    </div>
                  </div>

                  <div class="ui-g-12">

                    <div class="ui-g-4 ">Województwo:</div>
                    <div class="ui-g-8 ">
                      <input type="text" pInputText
                             placeholder="-" class="detail-view-input"
                             [value]="address?.voivodeship"
                             name="voivodeship" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </p-panel>
          </p-tabPanel>
        </ng-template>
      </p-tabView>
    </div>
  </div>
  <parent-edit *ngIf="parent"
                 [parentId]="parent.id"
                 (eventSave)="handleParentUpdate($event)"
                 [isVisible]="displayParentEditModal"
                 (eventClose)="handleModalClose($event)"></parent-edit>
  <personal-data-edit *ngIf="personalData"
                      [personalDataId]="personalData.id"
                      (eventSave)="handlePersonalDataUpdate($event)"
                      [isVisible]="displayPersonalDataEditModal"
                      (eventClose)="handleModalClose($event)"></personal-data-edit>

  <address-edit *ngIf="editAddressId"
                [addressId]="editAddressId"
                (eventSave)="handleAddressUpdate($event)"
                [isVisible]="displayAddressEditModal"
                (eventClose)="handleModalClose($event)"></address-edit>

  <address-create *ngIf="personalData"
                  [personalDataId]="personalData.id"
                  (eventSave)="handleAddressUpdate($event)"
                  [isVisible]="displayAddressCreateModal"
                  (eventClose)="handleModalClose($event)"></address-create>
</div>


