<p-confirmDialog  width="425"></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>
<div class="ikms-body">
	<p-breadcrumb [model]="items"></p-breadcrumb>
	<hr class="small-hr"/>
	<br/>
	<div class="row" *ngIf="isLoading">
		<div class="content-section implementation text-center">
			<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 form-blue" *ngIf="noData">
			<p>Brak udostępnionych danych</p>
		</div>
	</div>
	<br/>
	<div class="row col-c-wrap" *ngIf="!isLoading">
        <div class="col-md-6">
			<p-tree [value]="nodes" selectionMode="single" [(selection)]="selectedNode" ></p-tree>
        </div>

		<div class="col-md-6 form-blue tree-c-border" *ngIf="selectedNode">
			<div class="col-md-3" *ngIf="!selectedNode.folder">
				<i [class]="'fa '+ selectedNode.data?.icon +' fa-3x'"></i>
			</div>
			<div class="col-md-3" *ngIf="selectedNode.folder">
				<i class="fa fa-folder-o fa-3x"></i>
			</div>
			<div class="col-md-9 small-padding-top">
				<span class="ikms-h3">{{selectedNode.label}}</span>
			</div>
			<div class="col-md-12 small-indent small-padding-top" *ngIf="!selectedNode.folder" >
				<div class="ui-g-4 ">Nazwa</div>
				<div class="ui-g-8 ">
					{{selectedNode.label}}
				</div>
				<div class="ui-g-4 ">Wielkość</div>
				<div class="ui-g-8 " >
					{{selectedNode.data?.size}}
				</div>
				<div class="ui-g-4 ">Data wstawienia</div>
				<div class="ui-g-8 " >
					{{selectedNode.data?.dateOfUpload}}
				</div>
				<div class="ui-g-4 ">Opis</div>
				<div class="ui-g-8 " >
					{{selectedNode.data?.description}}
				</div>
			</div>
			<div class="col-md-12 small-indent small-padding-top" *ngIf="!selectedNode.folder">
				<button type="button" pButton icon="fa-download" (click)="onGetFile(selectedNode.data.id)" label="Pobierz plik"></button>
			</div>
		</div>
    </div>
	<hr/>

</div>
