<p-confirmDialog width="425"></p-confirmDialog>
<p-growl [(value)]="msgs"></p-growl>
<div class="ikms-body">
	<p-breadcrumb [model]="items"></p-breadcrumb>
	<hr class="small-hr"/>
	<div class="row">
		<div class="col-md-12">
			<div class="ui-g-12" *ngIf="!isLoading">
				<button type="button" pButton icon="fa-plus" label="Dodaj rodzica"
						[routerLink]="['/admin/addUser']"></button>
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<div class="content-section implementation text-center" *ngIf="isLoading">
				<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
			</div>
			<div class="content-section implementation" *ngIf="!isLoading">
				<p-dataTable [value]="parents" [rows]="20"
							 [responsive]="true">
					<p-header>
						<div class="bold">
							Rodzice
						</div>
					</p-header>
					<p-column [sortable]="true" field="id" header="Id" [style]="{'width':'50px'}"></p-column>
					<p-column [sortable]="true" field="name" header="Imię"></p-column>
					<p-column [sortable]="true" field="surname" header="Nazwisko"></p-column>
					<p-column styleClass="col-button" [style]="{'width':'180px', 'text-align':'center'}">
						<ng-template pTemplate="header">
						</ng-template>
						<ng-template let-parent="rowData" pTemplate="body">
							<button type="button" pButton (click)="navigateToUserList()" icon="fa-user"
									title="Użytkownik"></button>
							<button type="button" pButton (click)="showNotificationBox(parent.user.value)" icon="fa-bell"
									title="Powiadomienie"></button>
							<button type="button" pButton (click)="showMessageBox(parent.user.value)" icon="fa-envelope"
									title="Wiadomość"></button>
							<button type="button" pButton title="Podgląd"
									(click)="navigateToParentDetails(parent.id, parent.personalData.id)"
									icon="fa-search"></button>
							<button type="button" pButton title="Usuń"
									(click)="delete(parent.id)" icon="fa-trash"></button>
						</ng-template>
					</p-column>
					<ng-template pTemplate="emptymessage">
						Brak wyników do wyświetlenia.
					</ng-template>
				</p-dataTable>
				<p-paginator rows="20" [totalRecords]="currentPageData?.totalElements"
							 (onPageChange)="loadNewPage($event)" [pageLinkSize]="currentPageData?.totalPages">
				</p-paginator>

			</div>
		</div>
	</div>

</div>
<p-dialog header="Wyślij wiadomość" [resizable]="false" [draggable]="false" [(visible)]="displayMessage" *ngIf="!isLoading" [width]="1000" modal="modal">
	<sending-message [recipientUsername]="recipientUsername"></sending-message>
</p-dialog>
<p-dialog header="Wyślij powiadomienie" [resizable]="false" [draggable]="false" [(visible)]="displayNotification" [width]="1000" modal="modal" *ngIf="!isLoading">
	<sending-notification></sending-notification>
</p-dialog>