/* material design */

.md50 {
  color: #e8eaf6;
}

.md100 {
  color: #c5cae9;
}

.md200 {
 color: #9fa8da;
}

.md300 {
  color: #7986cb;
}

.md400 {
  color: #5c6bc0;
}

.md500 {
  color: #3f51b5;
}

.md600 {
  color: #3949ab;
}

.md700 {
  color: #303f9f;
}

.md800 {
  color: #283593;
}

.md900 {
  color: #1a237e;
}

.mdA100 {
  color: #8c9eff;
}

.mdA200 {
  color: #536dfe;
}
.mdA400 {
  color: #3d5afe;
}
.mdA700 {
  color: #304fff;
}
