<p-growl [(value)]="msgs"></p-growl>
<div class="ikms-body">
	<p-breadcrumb [model]="items"></p-breadcrumb>
	<hr class="small-hr"/>
	<div class="row">
		<div class="ui-g-12 form-blue" *ngIf="!isLoading">
			<div class="col-md-9 col-sm-9">
				<span class="ikms-h3">{{userName}}</span>
			</div>
			<div class="col-md-3 col-sm-3 text-right">
				<span class="ikms-h3">Twój plan</span>
			</div>
		</div>
		<div class="content-section implementation text-center" *ngIf="isLoading">
			<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" *ngIf="!isLoading">
			<div class="ui-g-12">
				<schedule-component [scheduleType]="scheduleType"
									[events]="events"
									[editMode]="editMode"
									[deleteMode]="deleteMode"
									(eventActivityUpdate)="onActivityUpdate($event)"
									(eventActivityValidationCheck)="onActivityValidationCheck($event)"></schedule-component>
			</div>
		</div>
	</div>
	<br />
</div>


