<p-growl [(value)]="msgs"></p-growl>
<div class="ikms-body">
	<p-breadcrumb [model]="items"></p-breadcrumb>
	<hr class="small-hr"/>
	<div class="row">
		<div class="ui-g-12 form-blue" *ngIf="!isLoading">
			<div class="col-md-9 col-sm-9">
				<span>Wybierz pracownika: </span>
				<p-dropdown
						[options]="employees" [autoWidth]="false" (onChange)="onEmployeeSelected($event)"
						[(ngModel)]="selectedEmployee" name="employee" placeholder="Wybierz"
				></p-dropdown>
			</div>
			<div class="col-md-3 col-sm-3 text-right">
				<span class="ikms-h3">Plany pracowników</span>
			</div>
		</div>
		<div class="col-md-12" *ngIf="selectedEmployeeId > -1">
			<div class="content-section implementation text-center" *ngIf="isLoading">
				<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
			</div>
			<div class="ui-g-12" *ngIf="!isLoading">
				<button *ngIf="!editMode" type="button" pButton (click)="enterEditMode()" icon="fa-pencil" label="Edytuj"></button>
				<button *ngIf="editMode && !isUpdating" type="button" pButton (click)="saveAndExitEdit()" icon="fa-check" label="Zakończ i zapisz"></button>
				<button *ngIf="editMode && isUpdating"  type="button" pButton  icon="fa-spinner fa-pulse" label="Zakończ i zapisz"></button>
				<button *ngIf="editMode" type="button" pButton (click)="cancel()" icon="fa-ban" label="Anuluj"></button>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="editMode">
		<div class="col-md-12">
			<div class="ui-g-12" *ngIf="!isLoading">
				<button type="button" pButton (click)="showCreateModal()" [disabled]="deleteMode" icon="fa-plus" label="Dodaj"></button>
				<button type="button" *ngIf="!deleteMode" pButton (click)="enterDeleteMode()" icon="fa-times" label="Usuń"></button>
				<button type="button" pButton (click)="validateSchedule()" icon="fa-calendar-check-o" label="Sprawdź poprawność"></button>
				<button type="button" *ngIf="deleteMode" pButton (click)="exitDeleteMode()" icon="fa-ban" label="Zakończ usuwanie"></button>
				<button type="button" pButton (click)="resetChanges()" icon="fa-undo" label="Cofnij zmiany"></button>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" *ngIf="!isLoading">
			<div class="ui-g-12">
				<schedule-component [scheduleType]="scheduleType"
									[events]="events"
									[editMode]="editMode"
									[deleteMode]="deleteMode"
									(eventActivityUpdate)="onActivityUpdate($event)"
									(eventActivityValidationCheck)="onActivityValidationCheck($event)"></schedule-component>
			</div>
		</div>
	</div>
	<br />
	<activity-create *ngIf="events"
					(eventSave)="handleActivityCreation($event)"
					[isVisible]="displayActivityCreateModal"
					(eventClose)="handleModalClose($event)"></activity-create>
</div>


