<p-growl [(value)]="msgs"></p-growl>
<p-dialog header="Dodaj plik" [(visible)]="isVisible" modal="modal"
		  [draggable]="false" [resizable]="false" [width]="800" [closable]="false"
		  [responsive]="false" >
	<div class="row">
		<div class="col-md-12">
			<form novalidate
				  #addFileForm="ngForm">

				<div class="content-section implementation">
					<div class="ui-g form-blue">

						<div class="ui-g-6 ui-sm-12">

							<div class="ui-g-12">
								<div class="ui-g-4 form-4-str-sm ">Folder:<span class="red">*</span></div>
								<div class="ui-g-8 ">
									<input type="text" pInputText
										   [(ngModel)]="fileFormDataDto.folder"
											placeholder="-" class="detail-view-input long-text"
											maxlength="100" required
											pattern="[a-zA-ZęóąśłżźćńĘÓĄŚŁŻŹĆŃ\-\ ]*"
											name="folder" #folder="ngModel">
									<div class="ui-g-12 validation-err" *ngIf="folder.touched && folder.errors?.required">
										Pole nie może być puste
									</div>
									<div class="ui-g-12 validation-err" *ngIf="folder.errors?.pattern">
										Pole nie może zawierać cyfr.
									</div>
								</div>
							</div>

							<div class="ui-g-12">
								<div class="ui-g-4 form-4-str-sm ">Podfolder:<span class="red">*</span></div>
								<div class="ui-g-8 ">
									<input type="text" pInputText
										   [(ngModel)]="fileFormDataDto.subfolder"
											placeholder="-" class="detail-view-input long-text"
											maxlength="100" required
											pattern="[a-zA-ZęóąśłżźćńĘÓĄŚŁŻŹĆŃ\-\ ]*"
											name="subfolder" #subfolder="ngModel">
									<div class="ui-g-12 validation-err" *ngIf="subfolder.touched && subfolder.errors?.required">
										Pole nie może być puste
									</div>
									<div class="ui-g-12 validation-err" *ngIf="subfolder.errors?.pattern">
										Pole nie może zawierać cyfr.
									</div>
								</div>
							</div>

						</div>
						<div class="ui-g-6 ui-sm-12">

							<div class="ui-g-12">
								<div class="ui-g-4 form-4-str-sm ">Opis:</div>
								<div class="ui-g-8 ">
									<textarea
											pInputTextarea [rows]="3" [cols]="20"
											[(ngModel)]="fileFormDataDto.description"
											placeholder="-" class="detail-view-input long-text"
											maxlength="255"
											pattern="[a-zA-ZęóąśłżźćńĘÓĄŚŁŻŹĆŃ\-\ \,\:]*"
											name="description" #description="ngModel"></textarea>
									<div class="ui-g-12 validation-err" *ngIf="description.errors?.pattern">
										Pole zawiera niedozwolone znaki.
									</div>
								</div>
							</div>

						</div>
						<div class="ui-g-12 form-blue">
							<p-fileUpload #upload chooseLabel="Wybierz plik" cancelLabel="Anuluj" uploadLabel="Zapisz" name="demo[]"
										  customUpload="true" (uploadHandler)="onUpload($event)"
										  mode="advanced" showCancelButton="true"  [showUploadButton]="addFileForm.valid" maxFileSize="1000000"></p-fileUpload>

						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-md-12 form-blue">
						<div class="col-md-4">
							<span class="ikms-h3">Uprawnienia</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-blue small-padding-top">
						<div class="col-md-4" >
							Grupy:<br/>
							<span *ngFor="let group of groups">
						<p-checkbox name="group.value" [label]="group.label" inputId="group.value" [value]="group.value" [(ngModel)]="selectedGroups" ></p-checkbox><br/>
					</span>
						</div>
						<div class="col-md-4">
							Pracownicy:<br/>
							<span *ngFor="let employee of employees">
						<p-checkbox name="employee.value" [label]="employee.label" inputId="employee.value" [value]="employee.value" [(ngModel)]="selectedEmployees"></p-checkbox><br/>
					</span>
						</div>
						<div class="col-md-4">
							Rodzice:<br/>
							<span *ngFor="let parent of parents">
						<p-checkbox name="parent.value" [label]="parent.label" inputId="parent.value"  [value]="parent.value" [(ngModel)]="selectedParents"></p-checkbox><br/>
					</span>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton icon="fa-close" (click)="closeModal()" label="Anuluj"></button>
	</p-footer>
</p-dialog>
